.section-1 {
    color: white;
    background-color: black;
}

.header-div {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 20px;
}

.header-div h3 {
    font-size: 3rem;
    max-width: 600px;
    text-align: center;
}

.section-items {
    display: flex;
}

.section-item {
    border: 1px solid white;
    padding: 70px 30px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.section-item:first-child {
    border-left: 0;
}

.section-item:last-child {
    border-right: 0;
}

.grid-title {
    font-size: 1.2rem;
    font-weight: bold;
}

.grid-description {
    margin: 15px 0 25px;
}

.section-item a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition-duration: 0.3s;
}

.section-item a:hover {
    opacity: 0.7;
}

.section-item a span {
    border-bottom: 2px solid white;
}
